@import '../../../styles/settings.scss';

.container {
    height: 100vh;
    display: grid;
    place-items: center;
}

.subContainer {
    height: 75vh;
    width: 80%;
    border-radius: 1rem;
    box-shadow: $box-shadow;
    background-color: $light-white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}